
<ion-header>
  <ion-navbar>
    <ion-title>QuePinta?</ion-title>
    <ion-buttons right>
      <button (click)="goToLogin()" color="primary" clear ion-button>
        INGRESAR
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title margin-top margin-bottom text-center>Selecciona un lugar</ion-title>
  <p *ngIf="location">Usted se encuentra en: {{location}}</p>
  <ion-grid>
    <ion-row>
      <ion-spinner text-center margin-top style="width: 100%" *ngIf="spinner"></ion-spinner>    
      <ion-col *ngFor="let neg of negocios"  col-12 col-lg>
        <negocio-card (click)="goToNegocio(neg)" [negocio]="neg"></negocio-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button (ionSelect)="selectSegment('home')" color="primary" value="home">
      <ion-icon name="home"></ion-icon>
      <p>Home</p>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="selectSegment('search')" color="primary" value="search">
      <ion-icon name="search"></ion-icon>
      <p>Buscar</p>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="selectSegment('mapa')" color="primary" value="mapa">
      <ion-icon name="map"></ion-icon>
      <p>Mapa</p>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
