page-new-category {
    .remove-image {
      position: absolute;
      left: 116px;
      background-color: rgba(0, 0, 0, 0.19);
      z-index: 9999;
    }
    ion-thumbnail {
      ion-icon {
        position: absolute;
        color: lightgray;
        left: 20px;
        top: 15px;
      }
      img {
        width: 120px !important;
        height: 120px !important;
      }
    }
}
