<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item?.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item *ngIf="item?.descripcion"><strong>Descripción: </strong>{{item?.descripcion}}</ion-item>
      <ion-item-group *ngIf="item?.esCerveza"> <!-- Esto siempre es false..es como que siempre por defecto está en false, me pasa lo mismo al editar un item, cuando me traigo el current item -->
        <ion-item *ngIf="item?.graduacion"><strong>Graduación alcohólica: </strong>{{item?.graduacion}}</ion-item>
        <ion-item *ngIf="item?.ibu"><strong>IBU: </strong>{{item?.ibu}}</ion-item>
        <ion-item *ngIf="item?.proveedor"><strong>Proveedor: </strong>{{item?.proveedor}}</ion-item>
      </ion-item-group>
      <ion-item *ngFor="let racion of item?.raciones">
        <h2><strong>Tamaño: </strong>{{racion.nombre}}</h2> 
        <h2><strong>Medida: </strong>{{racion.medida}} {{racion.unidad}}</h2> 
        <h2><strong>Precio: </strong>$ {{racion.precio}}</h2>
      </ion-item>
      <ion-item *ngIf="item?.stock"><strong>Stock: </strong>Si</ion-item>
      <ion-item *ngIf="!item?.stock"><strong>Stock: </strong>No</ion-item>
      <ion-slides>
        <ion-slide *ngFor="let foto of item?.fotos">
          <img [src]="foto">
        </ion-slide>
      </ion-slides>
    </ion-list> 

</ion-content>
