<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil de {{currentUser?.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="currentUser" (submit)="guardar()">
    <ion-item class="card-header">
      <ion-thumbnail tappable (click)="presentUserPhotoActionSheet()">
        <ion-icon name="camera" class="change-photo"></ion-icon>
        <img *ngIf="currentUser?.foto" [src]="currentUser?.foto" [alt]="currentUser?.nombre"/>
        <img *ngIf="!currentUser?.foto" src="assets/imgs/partylogo.png" [alt]="currentUser?.nombre"/>
      </ion-thumbnail>
      <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    </ion-item>

    <ion-list>

      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="currentUser.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="text"  name="email" [(ngModel)]="currentUser.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Calle</ion-label>
        <ion-input type="text" name="direccion" [(ngModel)]="currentUser.calle" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Altura</ion-label>
        <ion-input type="number" name="altura" [(ngModel)]="currentUser.altura" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Localidad</ion-label>
        <ion-input type="text" id="autocomplete" name="localidad" [(ngModel)]="currentUser.localidad" (setAddress)="getAddress($event)" googleplace></ion-input>
      </ion-item>
                 
      <ion-item>
        <ion-label>Hora de Apertura</ion-label>
        <ion-datetime name="horaaper" displayFormat="HH:mm" [(ngModel)]="currentUser.horaApertura"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Hora de Cierre</ion-label>
        <ion-datetime name="horacierre" [ngModelOptions]="{standalone: true}" displayFormat="HH:mm" [(ngModel)]="currentUser.horaCierre"></ion-datetime>
      </ion-item>

      

      <div padding>
        <button ion-button color="primary" block>Guardar</button>
      </div>

    </ion-list>
  </form>
</ion-content>
