page-profile {
  #map {
    width: 100%;
    height: 300px;
    opacity: 1;
    transition: opacity 150ms ease-in;
    display: block;
    
  }
  
  ion-thumbnail {
    ion-icon {
      position: absolute;
      color: lightgray;
      left: 20px;
      top: 15px;
    }
    img {
      width: 120px !important;
      height: 120px !important;
    }
  }
}

