<!--
  Generated template for the CategoriaDetailClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{categoria?.nombre}}</ion-title>
  </ion-navbar>
</ion-header>
    
    
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Productos
    </ion-list-header>
    <ion-item *ngFor="let it of items" (click)="goToItem(it)">
      <ion-row>
        <ion-col col-6>
          <h2>{{it.nombre}}</h2>
          <p>{{it.descripcion}}</p>
        </ion-col>
        <ion-col col-6>
          <p *ngFor="let racion of it.raciones" >
            <span *ngIf="!racion.otro">{{racion.nombre}}: $ {{racion.precio}}</span>
            <span *ngIf="racion.otro">{{racion.otro}}: $ {{racion.precio}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-spinner text-center margin-top style="width: 100%" *ngIf="spinner"></ion-spinner>
    <p text-center *ngIf="items?.length == 0 && !spinner">Aun no hay productos</p>
  </ion-list> 
</ion-content>
    