<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Categorias
    </ion-list-header>
    <ion-item *ngFor="let cat of categorias">
      <ion-thumbnail item-start>
        <img [src]="cat.imagen">
      </ion-thumbnail>
      <h2>{{cat.nombre}}</h2>
      <button (click)="deleteCategory(cat)" ion-button clear item-end>Borrar</button>
      <button (click)="goToCategoria(cat)" ion-button clear item-end>Ver</button>
    </ion-item>
    <p *ngIf="categorias.length == 0">No tiene categorias creadas aun</p>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addCategory()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
