<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Admin {{negocio?.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Categorias
    </ion-list-header>
    <ion-spinner text-center margin-top style="width: 100%" *ngIf="spinner"></ion-spinner>
    <p text-center *ngIf="categorias?.length == 0 && !spinner">No tiene categorias creadas aun</p>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let cat of categorias" col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
          <ion-item class="item-cat">
            <ion-thumbnail (click)="goToCategoria(cat)" class="pointer" item-start>
              <img [src]="cat.imagen">
            </ion-thumbnail>
            <ion-icon [name]="cat.icono"></ion-icon>
            <h2 (click)="goToCategoria(cat)" class="pointer">{{cat.nombre}}</h2>
            <ion-buttons right>
              <button ion-button clear color="dark" (click)="presentPopover($event, cat)">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addCategory()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
