page-home {
    .pointer {
        cursor: pointer;
        z-index: 0;
        position: relative;
    }
    ion-buttons {
        position: absolute;
        right: 0;
        bottom: 50px;
        z-index: 100;
        ion-icon {
            font-size: 25px !important;
        }
    }
    .custom-popover .popover-content {
        width: 80%;
        top: 70px;
        left: 30px;
        bottom: 70px
    }
}
