<!--
  Generated template for the EditItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar {{currentItem.nombre}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (submit)="editItem()">
    <ion-list>

      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="currentItem.nombre" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="currentItem.descripcion" name="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Es Cerveza?</ion-label>
        <ion-toggle [(ngModel)]="currentItem.esCerveza" name="esCerveza"></ion-toggle>
      </ion-item>

      <ion-item-group *ngIf="currentItem.esCerveza">
        <ion-item-divider color="light">Atributos para Cerveza</ion-item-divider>
        <ion-item>
          <ion-label stacked>Tipo de cerveza</ion-label>
          <ion-input type="text" [(ngModel)]="currentItem.tipo" name="tipo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Graduación alcohólica</ion-label>
          <ion-input type="number" [(ngModel)]="currentItem.graduacion" name="graduation"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>IBU</ion-label>
          <ion-input type="number" [(ngModel)]="currentItem.ibu" name="IBU"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Proveedor</ion-label>
          <ion-input type="text" [(ngModel)]="currentItem.proveedor" name="proveedor"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item>
        <ion-label>Stock</ion-label>
        <ion-toggle [(ngModel)]="currentItem.stock" name="stock"></ion-toggle>
      </ion-item>


      <ion-item-group *ngFor="let racion of currentItem.raciones; let i = index">
        <ion-item-divider color="light">Racion {{i + 1}} <span (click)="removeRacion(i);" style="float: right;">X</span></ion-item-divider>
        <ion-item>
          <ion-label stacked>Tamaño</ion-label>
          <ion-select [(ngModel)]="racion.nombre" name="tamaño">
            <ion-option *ngFor="let racion of racionesOptions" [value]="racion">{{racion}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="racion.nombre == 'Otro'">
          <ion-label stacked>Otro</ion-label>
          <ion-input type="text" [(ngModel)]="racion.otro" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Medida</ion-label>
          <ion-input type="text" [(ngModel)]="racion.medida" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <select name="unidad" [(ngModel)]="racion.unidad">
          <option value="kg">Kg</option>
          <option value="g">g</option>
          <option value="cm3">cm3</option>
          <option value="litro">Litro</option>
          <option value="unidad">Unidad</option>
        </select>
        <ion-item>
          <ion-label stacked>Precio</ion-label>
          <ion-input type="text" [(ngModel)]="racion.precio" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item>
        <button ion-button color="primary" (click)="getPicture($event, 0)">Imagen 1</button>
        <input type="file" #file0 style="visibility: hidden; height: 0px" name="img1" (change)="processWebImage($event, 0)" />
      </ion-item>
      <img style="width: 100%" *ngIf="fotos[0]" [src]="fotos[0]" alt="">

      <ion-item>
        <button ion-button color="primary" (click)="getPicture($event, 1)">Imagen 2</button>
        <input type="file" #file1 style="visibility: hidden; height: 0px" name="img2]" (change)="processWebImage($event, 1)" />
      </ion-item>
      <img style="width: 100%" *ngIf="fotos[1]" [src]="fotos[1]" alt="">

      <ion-item>
        <button ion-button color="primary" (click)="getPicture($event, 2)">Imagen 3</button>
        <input type="file" #file2 style="visibility: hidden; height: 0px" name="img3]" (change)="processWebImage($event, 2)" />
      </ion-item>
      <img style="width: 100%" *ngIf="fotos[2]" [src]="fotos[2]" alt="">



      <button ion-button (click)="addRacion($event);" color="secondary">Agregar Racion</button>

      <div padding>
        <button ion-button color="primary" block>Guardar</button>
      </div>

    </ion-list>
  </form>
</ion-content>
