page-negocio-main {
    #ocultar{
        display:none;
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
        &.show-text{
          opacity: 1;
          display: block;
        }
    }
    #ver{
        display:block;
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
        &.hide-text{
            display:none;
        }
    }
    
    #map {
        width: 100%;
        height: 200px;
        transition: opacity 150ms ease-in;
        display: none;
        &.show-map{
          opacity: 1;
          display: block;
        }
    }
}
