page-negocio-main {
    #map {
        width: 95vw;
        height: 50vh;
        transition: opacity 150ms ease-in;
        display: none;
        &.show-map{
          opacity: 1;
          display: block;
        }
    }
}
