negocio-card {

    ion-card {
        position: relative;
        text-align: center;
        img {
            -webkit-filter: brightness(0.4);
            -moz-filter: brightness(0.4);
            -o-filter: brightness(0.4);
            -ms-filter: brightness(0.4);
            filter: brightness(0.3);
        }
    }

    .card-title {
        position: absolute;
        top: 36%;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        position: absolute;
        top: 55%;
        font-weight: bold;
        width: 100%;
        color: #fff;
    }
}
