<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <negocio-card *ngFor="let neg of negocios" (click)="goToNegocio(neg)" [negocio]="neg"></negocio-card>
  <ion-spinner text-center margin-top style="width: 100%" *ngIf="spinner"></ion-spinner>
</ion-content>

<ion-footer>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button (ionSelect)="selectSegment('home')" color="primary" value="home">
      <ion-icon name="home"></ion-icon>
      <p>Home</p>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="selectSegment('search')" color="primary" value="search">
      <ion-icon name="search"></ion-icon>
      <p>Buscar</p>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="selectSegment('mapa')" color="primary" value="mapa">
      <ion-icon name="map"></ion-icon>
      <p>Mapa</p>
    </ion-segment-button>
  </ion-segment>
</ion-footer>