categoria-card {
    ion-card {
        position: relative;
        text-align: center;
        max-height: 150px;
        img {
            -webkit-filter: brightness(0.4);
            -moz-filter: brightness(0.4);
            -o-filter: brightness(0.4);
            -ms-filter: brightness(0.4);
            filter: brightness(0.4);
        }
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 55%;
        font-weight: bold;
        width: 100%;
        color: #fff;
    }
}
