<!--
  Generated template for the NewItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NewItem</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="guardar()">
    <ion-list>

      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="newItemForm.nombre" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="newItemForm.descripcion" name="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Es Cerveza?</ion-label>
        <ion-toggle [(ngModel)]="esCerveza" name="esCerveza"></ion-toggle>
      </ion-item>

      <ion-item-group *ngIf="esCerveza">
        <ion-item-divider color="light">Atributos para Cerveza</ion-item-divider>
        <ion-item>
          <ion-label stacked>Graduación alcohólica</ion-label>
          <ion-input type="number" [(ngModel)]="newItemForm.graduacion" name="graduation"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>IBU</ion-label>
          <ion-input type="number" [(ngModel)]="newItemForm.ibu" name="IBU"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Proveedor</ion-label>
          <ion-input type="text" [(ngModel)]="newItemForm.proveedor" name="proveedor"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item>
        <ion-label>Stock</ion-label>
        <ion-toggle [(ngModel)]="newItemForm.stock" name="stock"></ion-toggle>
      </ion-item>


      <ion-item-group *ngFor="let racion of newItemForm.raciones; let i = index">
        <ion-item-divider color="light">Racion {{i + 1}} <span (click)="removeRacion(i);" style="float: right;">X</span></ion-item-divider>
        <ion-item>
          <ion-label stacked>Tamaño</ion-label>
          <ion-input type="text" [(ngModel)]="racion.nombre" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Medida</ion-label>
          <ion-input type="text" [(ngModel)]="racion.medida" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <select name="unidad" [(ngModel)]="racion.unidad">
          <option value="kg">Kg</option>
          <option value="g">g</option>
          <option value="cm3">cm3</option>
          <option value="litro">Litro</option>
          <option value="unidad">Unidad</option>
        </select>
        <ion-item>
          <ion-label stacked>Precio</ion-label>
          <ion-input type="text" [(ngModel)]="racion.precio" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button color="primary" (click)="getPicture($event, i)">Agregar imagen</button>
          <input type="file" [id]="'file' + i" style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event, i)" />
        </ion-item>
        <img style="width: 100%" *ngIf="racion.foto" [src]="racion.foto" alt="">
      </ion-item-group>

      <button ion-button (click)="addRacion($event);" color="secondary">Agregar Racion</button>

      <div padding>
        <button ion-button color="primary" block>Guardar</button>
      </div>

    </ion-list>
  </form>
</ion-content>
